body {
  background-color: #2c2c2c;
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  color: white;
  font-family: 'Tilt Warp'

}


@font-face {
  font-family: 'Tilt Warp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/tiltwarp/v5/AlZc_zVDs5XpmO7yn3w7flUoytXJp3z29uEwmEMLEJljLXvT8UJSZQB2C1Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.titleContainer{
  position:absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.title{
  display: flex;
  align-items: center;
  font-size: 600%;
  text-align: center;
}

.unitsContainer{
  display: flex;
  justify-content: space-evenly;
  font-size: 250%;
  align-items: center;
}


.header{
  font-size: 250%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#input-field-label {
  display: inline-block; 
  padding: 10px;
  border: solid 2px #ccc;
  transition: all 0.3s;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block; 
  padding: 10px;
  border: solid 2px transparent;
  transition: all 0.3s;
}

input[type="radio"]:checked + label {
  border: solid 2px rgb(97, 97, 97);
  border-radius: 8px;
  background-color: rgb(97, 97, 97);
}
input[type="radio"] + label:hover{
  backdrop-filter:brightness(120%);
  border-radius: 8px;
  border: solid 2px transparent;
}
input[type="text"] {
  border: none;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.2);
  opacity: 1;
  padding: 8px;
  margin: 4px;
  font-size: 16px;
  color: white;
  font-family: 'Tilt Warp';
  width: 8%;
}


.appLogic {
  
  width: 30%;
  flex: 1;
  margin-right: 20px;
  border: solid 2px rgb(97, 97, 97);
  border-radius: 8px;

}

.bmiResult{

  font-size: 500%;
  animation: 0.7s infinite alternate ease-out breathing-color;
}
@keyframes breathing-color {
  from
  {
    filter: brightness(100%);
  }
  to
  {
      filter: brightness(70%);
  }
}
.resultContainer{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  text-align: center;
}

a{
  color:rgba(206, 203, 247, 0.932);
}
a:visited{
  color:rgb(97, 97, 97);
}

.resultLabel{
  font-size: 200%;
}

.tableContainer{
  width: 45%;
  margin: auto;
  border: solid 2px rgb(97, 97, 97);
  border-radius: 8px;
}

.app {
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  padding: 20%;
}
td,th{
  border: 1px solid;
  border-color: white;
  justify-content: center;
}

.tableTitle{
  font-size: 150%;
  text-align: center;
  
}
.disclaimerBody{
  font-size: 80%;
}
.underweightRow{
  color: rgba(233, 233, 130, 0.986);
}
.normalWeightRow{
  color: rgb(73, 146, 73);
}
.overweightRow{
  color:rgb(223, 72, 72);
}
.obeseRow{
  color:rgb(173, 63, 173);
}